<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body style="background-color: #f5f8fd;">
    <h2><p class="text-center text-info">You are now successfully loged out</p></h2>
    <h4><p class="text-center text-secondary">want to log in again please click below</p></h4>
    <p class="text-center" ><a href="/" data-toggle="tooltip" title="log in again">
        <button type="button" class="btn btn-primary">LOGIN</button>
    </a></p>
</body>
</html>