<!DOCTYPE html>{% load static %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'css1/bootstrap.min.css' %}">
</head>
<body style="background-color: #f5f8fd;">
    <h2><p class="text-center text-info">You are now successfully loged out</p></h2>
    <h4><p class="text-center text-secondary">want to log in again please click below</p></h4>
    <p class="text-center" ><a href="/" data-toggle="tooltip" title="log in again">
        <button type="button" class="btn btn-primary">LOGIN</button>
    </a></p>
</body>
</html>    